body {
    background-color: rgb(79, 79, 79);
}

h1 {
    color: rosybrown;
    text-align: center;
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
}

.in {
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    margin-top: 15px;
}

.lab {
    color: rgb(175, 125, 125);
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.button  {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    color: rosybrown;
    background-color: #333;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 115px;
    text-decoration: none;
}

.button:hover {
    color: white;
    background-color: rgb(180, 130, 130);
}

